{
 "STASHDEVBRANCH": {
  "DBFitPort": "8085", 
  "superheroes_tribe": {
   "SSHUrl": "ssh://git@stash:2222/bi/pinnaclehct.git", 
   "BranchName": "development", 
   "FitNesseRootLocation": "TEST"
  }, 
  "EDW": {
   "SSHUrl": "ssh://git@stash:2222/edw/edw-git.git", 
   "BranchName": "feature/development", 
   "FitNesseRootLocation": "TEST"
  }, 
  "SEPBICLAIM": {
   "SSHUrl": "ssh://git@stash.int.corp.sun:2222/bi/ctpclaims.git", 
   "BranchName": "release/DBFit_Test", 
   "FitNesseRootLocation": "TEST"
  }, 
  "StrategicDebtors": {
   "SSHUrl": "ssh://git@stash.int.corp.sun:2222/bi/strategic-debtors.git", 
   "BranchName": "development", 
   "FitNesseRootLocation": "TEST"
  }, 
  "motorclaims_cloud": {
   "SSHUrl": "ssh://git@stash.int.corp.sun:2222/bi/motorclaimsoncloud.git", 
   "BranchName": "development", 
   "FitNesseRootLocation": "TEST"
  }, 
  "PPT_Project": {
   "SSHUrl": "ssh://git@stash:2222/bi/cibippt.git", 
   "BranchName": "development", 
   "FitNesseRootLocation": "TEST/DBFIT_TEST"
  }, 
  "Trov_BI": {
   "SSHUrl": "ssh://git@stash:2222/bi/trov-bi.git", 
   "BranchName": "feature/TROV-DBFit-TestCase", 
   "FitNesseRootLocation": "Test"
  }
 }, 
 "STASHUATBRANCH": {
  "DBFitPort": "8090", 
  "ExampleProject": {
   "SSHUrl": "ssh://git@stash.int.corp.sun:2222/bi/dbfit-framework.git", 
   "BranchName": "master", 
   "FitNesseRootLocation": "TEST"
  }, 
  "PPT_Project": {
   "SSHUrl": "ssh://git@stash:2222/bi/cibippt.git", 
   "BranchName": "release_DBFIT_TestCases", 
   "FitNesseRootLocation": "TEST/DBFIT_TEST"
  }
 }, 
 "STASHRELEASEBRANCH": {
  "DBFitPort": "8095", 
  "ExampleProject": {
   "SSHUrl": "ssh://git@stash.int.corp.sun:2222/bi/dbfit-framework.git", 
   "BranchName": "master", 
   "FitNesseRootLocation": "TEST"
  }, 
  "PPT_Project": {
   "SSHUrl": "ssh://git@stash:2222/bi/cibippt.git", 
   "BranchName": "master", 
   "FitNesseRootLocation": "TEST/DBFIT_TEST"
  }
 }
}