{
	"DEV":[
	{
	"SSHUrl":"ssh://git@stash.int.corp.sun:2222/bi/dbfit-framework.git",
	"BranchName":"master",
	"FitNesseRootLocation":"TEST",
	"ProjectName":"ExampleProject"
	}
	],
	"UAT":[
	{
	"SSHUrl":"ssh://git@stash.int.corp.sun:2222/bi/dbfit-framework.git",
	"BranchName":"master",
	"FitNesseRootLocation":"TEST",
	"ProjectName":"ExampleProject"
	}
	],	
	"PRD":[
	{
	"SSHUrl":"ssh://git@stash.int.corp.sun:2222/bi/dbfit-framework.git",
	"BranchName":"master",
	"FitNesseRootLocation":"TEST",
	"ProjectName":"ExampleProject"
	}
	]
}